[run]
source =
    apps
    core
omit =
    */migrations/*
    */tests/*
    */admin.py
    */apps.py
    */__init__.py
    */management/*
    config/*
    manage.py
    core/storages.py

[report]
show_missing = True
exclude_lines =
    pragma: no cover
    def __str__
    def __repr__
    if TYPE_CHECKING:
    if __name__ == .__main__.:
